<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoryStream || Signup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.min.css" >
  </head>
  <body>
    <header>
      <h1><mark>StoryStream</mark></h1>
    </header>
    <main>
      <h2>Signup</h2>
      <form method="POST" action="https://stroystream-api.onrender.com/signup">
        <label>
          <input type="text" class="username" name="username" placeholder="Choose a Name" required>
        </label>
        <label>
          <input type="email" class="email" name="email" placeholder="Enter your Email" required>
        </label>
        <label>
          <input type="password" class="password" name="password" placeholder="Choose a unique password" required>
        </label>
        <button class="btn" type="submit">Create account</button>
      </form>
    </main>
    <script>
      /*const username = document.querySelector('.username')
      const email = document.querySelector('.email')
      const password = document.querySelector('.password')
      const submitBtn = document.querySelector('.btn')
      const form = document.querySelector('form')
      const myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      
      form.addEventListener('submit', (e) => {
        e.preventDefault()
      })
      submitBtn.addEventListener('click', () => {
        try{
          const sendData = async (){
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            const response = await fetch('/signup', {
            
                method: "POST",
                body: JSON.stringify({ username: username.value, email: email.value, password: password.value}),
                headers: myHeaders,
            })
          }
          sendData.then(response => alert(response))
        }catch(e){
          alert(e)
        }
      })*/
    </script>
  </body>
</html>
